{% extends "bootstrap/base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock styles %}

{% block content %}
    <div class="container-fluid dashboard">
        <div class="row">
            <div class="col-sm-12 col-lg-4 page-header">
                <h1>Hi {{ current_user.username | capitalize }}</h1>
                {% if tasks|length < 1 %}
                    <p>You have no tasks at the moment</p>
                {% elif tasks|length == 1 %}
                    <p>You have {{tasks|length}} task on your list</p>
                {% elif tasks|length > 1 %}
                    <p>You have {{tasks|length}} tasks on your list</p>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a class="btn btn-default btn-xs logout" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
                <br>
                <a class="btn btn-primary" href="{{ url_for('new_task') }}" role="button"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add task</a>
            </div>
            {% if tasks %}
            <div class="col-sm-12 col-lg-8">
                {% for task in tasks %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="task-details">
                            <p>{{ task.task }}</p>
                            <p><small>Added on: {{ task.date_added.strftime('%d %b %Y')}}</small></p>
                        </div>
                        <div class="btn-done">
                            <form action="{{ url_for('delete', task_id=task.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="DONE">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    document.querySelector('body').classList.add('bkg');
</script>
{% endblock scripts %}